.body {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 32px 64px;
}

.body div {
  border-radius: 24px;
  display: block;
  padding: 48px;
}

.image {
  width: 40%;
  background-image: url("./assets/gymBro.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

.image p {
  color: white;
  opacity: 95%;
  font-size: 24px;
  font-family: Lato-Bold;
  padding: 12px 36px;
  background-color: rgba(15, 15, 15, 0.5);
  border-radius: 32px;
  position: absolute;
  bottom: 48px;
}
